$white : #FFFF !default;
$bg-primary:     #23232e !default;
$bg-secondary:   #141418 !default;
$text-primary:   #172B4D !default;
$text-secondary: #ececec !default;
$primary: #0ddb77 !default;
$danger: #FE3464 !default;
$text-grey: #76797f !default;
$red-one: #FE3464;
$red-two: #F85E56;
$dred-one: #70001a;
$dred-two: #6d0500;
$green-one: #30e992;
$green-two: #4cccd8;

// Colors
$blue: #32325d;
$gray: #F5F6FA;
$dark-gray: #6b7c93;
$white: #fff;
$border-rounded: 6px;

               