@import "variables";
@import "datatable";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

* {
    font-family: 'Open Sans';
}

.icon {
  margin-top: 2px;
}

html {
  font-size: 12px;
  height: 100%;
}
  
  body {
    height: 100%;
    margin: 0;
    color: black;
    background-color: #F1F4F6;
    margin: 0;
    padding: 0;

    
  }

  .hr-major {
    border: 0; 
    border-top: 1px solid $green-one;
    margin-left: 1rem;
    padding-right: 1rem;
  }

  .hr-minor {
    border: 0; border-top: 1px dashed #cecece;
    margin-left: 1rem;
    padding-right: 1rem;
  }

  i {
    padding-right: .5rem;
  }

  h3 {
    text-align: left;
    padding-left: 1rem;
  }
  h4 {
    text-align: left;
    padding-left: 1rem;
  }

  .section-item {
    display: none;
  }

  .section-active {
    display: block;
  }

  .header {
    height: 3rem;
    display: flex;
    align-items: center;
    background: $bg-primary;
    box-shadow:4px 7px 10px rgba(0,0,0,.4);
    color: #bbbbbb;
  }
  
  .headerContent {
    margin-left: 10px;
  }
  
  .page {
    display: flex;
    height: calc( 100vh);
    /* calculate the height. Header is 30px */
  }

  .sidebar-active {
    transform: translateX(-$sidebar-width);

    .page >.content {
      transform: translateX(-$sidebar-width);
    }
  }

    @media only screen and (max-width: 768px) {

      .sidebar {
        transform: translateX(-$sidebar-width);
      }
      
      .sidebar-active {
        transform: translateX(0);
      }
    }

  .flex-close {
    display:flex;
    flex-direction:row-reverse;
  }

  .sidebar-close {
    margin: .5rem;
    cursor: pointer;
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }
  
  .sidebar {
    position: fixed;
    transition: .3s;
    height:100%;
    font-size: 1.2rem;
    width: $sidebar-width;
    background: $bg-primary;
    color:white;
    z-index: 1;
    box-shadow:4px 7px 10px rgba(0,0,0,.4);
  }

  .span-btn {
    cursor: pointer;
  }

  .table-btn {
    font-size: 1.5rem;
    padding-left: 1rem;
    color: $bg-primary;
  }


  .sidebar-menu {
    font-size: 1.5rem;
    padding-left: 1rem;
    color: white;
  }

  .sidebar-toggle {
    @media only screen and (min-width: 768px) {
      display: none;
    }
    cursor: pointer;
  }

  .nav-list {
      text-align: center;
      list-style-type: none;
      margin:0;
      padding:15px 0px;
  }

  .nav-active {
    border-radius: 5rem;
    background: linear-gradient(45deg, $green-one, $green-two);
    box-shadow: 0 10px 35px rgba($green-one, .6);
  }

  .nav-item {
    
    padding-top:2rem;
    
    a:hover {
        cursor: pointer;
        border-radius: 5rem;
        background: linear-gradient(45deg, $green-one, $green-two);
        box-shadow: 0 10px 35px rgba($green-one, .6);
    }
    a {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-right: 1rem;
      margin-left: 1rem;
      align-items:flex-start;
      padding: 1rem 2rem 1rem 1rem;
      color: white;
      text-decoration: none;
    }
}
  
  .content {
    @media only screen and (max-width: 768px) {
      padding-left: 0rem;
    }
    padding-left: $sidebar-width;
    background: whitesmoke;
    flex: 1 0 auto;
    /* enable grow, disable shrink */
  }

  // Flexbox container
  .containers {
    padding-top:5%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center;
    padding-bottom: 10vh;
    
  }

  .table {
    @media only screen and (min-width: 1024px) {
      font-size: 1rem;
    }
    @media only screen and (min-width: 768px) {
      font-size: 1rem;
    }
    font-size: .85rem;

  }

  .cards-sm {
    @media only screen and (min-width: 1024px) {
      width: 500px;
    }
    @media only screen and (min-width: 768px) {
      width: 500px;
    }
    width: 90vw;
  }

  .cards-lg {
    @media only screen and (min-width: 1024px) {
      max-width: 80vw;
    }
    @media only screen and (min-width: 768px) {
      max-width: 65vw;
    }
    width: 90vw;
  }

  
  // cards UI
  
  .cards {
    color: $text-primary;
    display: flexbox;
    background-color: $white;
    flex-direction: column;
    border-radius: $border-rounded;
    box-shadow: 0 10px 40px -14px rgba(0,0,0,0.25);
    text-align: center;

    .cards-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #dddddd;
    }

    .cards-content {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .table-content {
      padding:0;
    }
    .cards-title {
        color: $blue;
        font-size: 1.8em;
        line-height: 1.5em;
        font-weight: 900;
        margin-top: 0;
    }
  
    .cards-body {
      font-size: 1.1em;
      line-height: 1.6em;
      color: $dark-gray;
      margin-bottom: 2.1em;
    }
    
  }

  .align-left {
      padding-left: 1.5rem;
  }

  .align-right {
    padding-right: 2rem;
  }

  .btn-round {
    display: block;
    border: none;
    outline:none;
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    color: $white;
    //Button shape & animation
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    background-size: 200% auto;
    color: white;
    transition: 0.5s;
  }


  .btn {
    display: block;
    border: none;
    outline:none;
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    color: $white;
    //Button shape & animation
    border-radius: $border-rounded;
    border: none;
    margin: 10px;
    padding: 1em 3em;
    background-size: 200% auto;
    color: white;
    transition: 0.5s;
  }

  @mixin btn-theme($color-one,$color-two) {
    box-shadow: 0 6px 25px rgba($color-one, .4);
    background: linear-gradient(45deg, $color-one, $color-two);
    &:hover {
      box-shadow: 0 10px 35px rgba($color-one, .6);
      cursor: pointer;
    }
    &:active {
      box-shadow: 0 10px 30px rgba($color-one, .4);
      background: linear-gradient(45deg, $color-one, $color-one);
    }
  }

  .btn-red {
    @include btn-theme($red-one,$red-two);
  }

  .btn-green {
    @include btn-theme($green-one,$green-two);
  }


  .full-input {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .always-rows {
    align-content: center;
    @media only screen and (max-width: 768px) {
      flex-direction: rows;
    }
  }

  .rows {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  .cb-rows {
    @media only screen and (max-width: 768px) {
      flex-direction: rows;
    }
  }

  .removePadding {
    padding: 0px;
  }

  .cols {
    display: flex;
    margin: 5px;
    flex: 1;
    flex-direction: column;
    @media only screen and (max-width: 768px) {
    }
  }

  .cb-cols {
    display: flex;
    flex-direction: rows;
  }


  .input-label {
    text-align: left;
    font-weight: 600;
    padding-bottom: 5px;
  }

  .label-error {
    text-align: left;
    color: $danger;
    font-size: .9rem;
    padding-bottom: 2px;
  }

  .label-success {
    text-align: left;
    font-weight: 600;
    color: green;
    font-size: .9rem;
    padding-bottom: 2px;
  }

  .form-control-sm {
    border: 1px solid #dddddd;
    border-radius: $border-rounded;
    color: $text-grey;
    font-weight: 600;
    padding: .5rem;

    &::placeholder {
      color: $text-grey;
      font-weight: 600;
    }

    &:focus {
      border: none;
      outline: 0;
      border: 1px solid #1cea64;
      box-shadow: 0 8px 10px rgba(0, 188, 122,.11), 0 1px 3px rgba(72, 214, 145,.08);
    }

  }

  .input-text {
    border: 1px solid #dddddd;
    border-radius: $border-rounded;
    color: $text-grey;
    font-weight: 600;
    padding: .7rem;

    &::placeholder {
      color: $text-grey;
      font-weight: 600;
    }

    &:focus {
      border: none;
      outline: 0;
      border: 1px solid #1cea64;
      box-shadow: 0 8px 10px rgba(0, 188, 122,.11), 0 1px 3px rgba(72, 214, 145,.08);
    }
  }

  .input-checkbox {
    margin-top:5px;
  }


  .is-invalid {
    border: 1px solid $red-one;

    &:focus, &:active {
      border: none;
      outline: 0;
      border: 1px solid $red-one;
      box-shadow: 0 8px 10px rgba($dred-one,.11), 0 1px 3px rgba($dred-two,.08);
    }
  }

  .custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.custom-file-upload {
    display: block;
    width: auto;
    //border: 1px solid #ccc;
    label {
        display: block;
        margin-bottom: 5px;
    }
}

.file-upload-wrapper {
    display: flex;
    position: relative; 
    margin-bottom: 5px;
    //border: 1px solid #ccc;
}
.file-upload-input {
    border: 1px solid #dddddd;
    border-radius: $border-rounded;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    width:300px;
    color: $text-grey;
    padding: 11px 17px; 
    transition: all 0.2s ease-in;
    float: left; /* IE 9 Fix */
    &:hover, &:focus { 
      outline: none;
      border: 1px solid #1cea64;
      box-shadow: 0 8px 10px rgba(0, 188, 122,.11), 0 1px 3px rgba(72, 214, 145,.08);
    }
}
.file-upload-button {
    cursor: pointer; 
    display: inline-block; 
    color: #fff;
    text-transform: uppercase;
    padding: 11px 20px; 
    border:none;
    border-radius: $border-rounded;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    outline: none;
    margin-left: -1px;  
    background-color: darken($green-one, 10); 
    float: left; /* IE 9 Fix */
    transition: all 0.2s ease-in;
    &:hover {
        background-color: darken($green-one, 20);
    }
}

  

  .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.input-select {
    font-weight: 600;
    min-width: 180px;
    border: 1px solid #dddddd;
    border-radius: $border-rounded;
    color: $text-grey;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: .7rem;

  &:focus {
    outline: 0;
    border: 1px solid #1cea64;
    box-shadow: 0 8px 10px rgba(0, 188, 122,.11), 0 1px 3px rgba(72, 214, 145,.08);
  }

}
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: flex;
  position: relative;
  color: black;
}


.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #dddddd;
  border-radius: $border-rounded;
  color: $text-grey;
  cursor: pointer;
  display: inline-block;
  height: 200px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #2dce89 transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
.select-styled:hover {
  background-color: #f2f2f2;
}
.select-styled:active, .select-styled.active {
  background-color: #f2f2f2;
}
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent black transparent;
}
.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .2), 0 1px 3px rgba(0, 0, 0, .08);
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  color: #2dce89;
  background: #f2f2f2;
}
.select-options li[rel="hide"] {
  display: none;
}


.modals {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  align-self: start;
  flex-direction: column;
 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
  

  .modals-container {
    width: 90%;
    @media only screen and (min-width: 768px) {
      width: 50%;
    }
     border-radius: $border-rounded;
    box-shadow: 0 10px 40px -14px rgba(0,0,0,0.25);
    background-color: $white;
    margin: auto;
    border: 1px solid #888;
    
  }

  .modals-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #dddddd;
  }

 

  .modals-content {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
  }
}

/* Modal Content */


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 2rem;
  padding: 1rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.link-wrapper {
  display:flex;
}
.fa {
  flex: 1;
}
.link-name {
  flex:1;
}


















// bootstrap dtable

// .pagination {
//   display: -ms-flexbox;
//   display: flex;
//   padding-left: 0;
//   list-style: none;
//   border-radius: 0.25rem;
// }

// .page-link {
//   position: relative;
//   display: block;
//   padding: 0.5rem 0.75rem;
//   margin-left: -1px;
//   line-height: 1.25;
//   color: #007bff;
//   background-color: #fff;
//   border: 1px solid #dee2e6;
// }

// .page-link:hover {
//   z-index: 2;
//   color: #0056b3;
//   text-decoration: none;
//   background-color: #e9ecef;
//   border-color: #dee2e6;
// }

// .page-link:focus {
//   z-index: 2;
//   outline: 0;
//   box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
// }

// .page-link:not(:disabled):not(.disabled) {
//   cursor: pointer;
// }

// .page-item:first-child .page-link {
//   margin-left: 0;
//   border-top-left-radius: 0.25rem;
//   border-bottom-left-radius: 0.25rem;
// }

// .page-item:last-child .page-link {
//   border-top-right-radius: 0.25rem;
//   border-bottom-right-radius: 0.25rem;
// }

// .page-item.active .page-link {
//   z-index: 1;
//   color: #fff;
//   background-color: #007bff;
//   border-color: #007bff;
// }

// .page-item.disabled .page-link {
//   color: #6c757d;
//   pointer-events: none;
//   cursor: auto;
//   background-color: #fff;
//   border-color: #dee2e6;
// }

// .pagination-lg .page-link {
//   padding: 0.75rem 1.5rem;
//   font-size: 1.25rem;
//   line-height: 1.5;
// }

// .pagination-lg .page-item:first-child .page-link {
//   border-top-left-radius: 0.3rem;
//   border-bottom-left-radius: 0.3rem;
// }

// .pagination-lg .page-item:last-child .page-link {
//   border-top-right-radius: 0.3rem;
//   border-bottom-right-radius: 0.3rem;
// }

// .pagination-sm .page-link {
//   padding: 0.25rem 0.5rem;
//   font-size: 0.875rem;
//   line-height: 1.5;
// }

// .pagination-sm .page-item:first-child .page-link {
//   border-top-left-radius: 0.2rem;
//   border-bottom-left-radius: 0.2rem;
// }

// .pagination-sm .page-item:last-child .page-link {
//   border-top-right-radius: 0.2rem;
//   border-bottom-right-radius: 0.2rem;
// }


// .table {
//   width: 100%;
//   margin-bottom: 1rem;
//   background-color: transparent;
// }

// .table th,
// .table td {
//   padding: 0.75rem;
//   vertical-align: top;
//   border-top: 1px solid #dee2e6;
// }

// .table thead th {
//   vertical-align: bottom;
//   border-bottom: 2px solid #dee2e6;
// }

// .table tbody + tbody {
//   border-top: 2px solid #dee2e6;
// }

// .table .table {
//   background-color: #fff;
// }

// .table-sm th,
// .table-sm td {
//   padding: 0.3rem;
// }

// .table-bordered {
//   border: 1px solid #dee2e6;
// }

// .table-bordered th,
// .table-bordered td {
//   border: 1px solid #dee2e6;
// }

// .table-bordered thead th,
// .table-bordered thead td {
//   border-bottom-width: 2px;
// }

// .table-borderless th,
// .table-borderless td,
// .table-borderless thead th,
// .table-borderless tbody + tbody {
//   border: 0;
// }

// .table-striped tbody tr:nth-of-type(odd) {
//   background-color: rgba(0, 0, 0, 0.05);
// }

// .table-hover tbody tr:hover {
//   background-color: rgba(0, 0, 0, 0.075);
// }

// .table-primary,
// .table-primary > th,
// .table-primary > td {
//   background-color: #b8daff;
// }

// .table-hover .table-primary:hover {
//   background-color: #9fcdff;
// }

// .table-hover .table-primary:hover > td,
// .table-hover .table-primary:hover > th {
//   background-color: #9fcdff;
// }

// .table-secondary,
// .table-secondary > th,
// .table-secondary > td {
//   background-color: #d6d8db;
// }

// .table-hover .table-secondary:hover {
//   background-color: #c8cbcf;
// }

// .table-hover .table-secondary:hover > td,
// .table-hover .table-secondary:hover > th {
//   background-color: #c8cbcf;
// }

// .table-success,
// .table-success > th,
// .table-success > td {
//   background-color: #c3e6cb;
// }

// .table-hover .table-success:hover {
//   background-color: #b1dfbb;
// }

// .table-hover .table-success:hover > td,
// .table-hover .table-success:hover > th {
//   background-color: #b1dfbb;
// }

// .table-info,
// .table-info > th,
// .table-info > td {
//   background-color: #bee5eb;
// }

// .table-hover .table-info:hover {
//   background-color: #abdde5;
// }

// .table-hover .table-info:hover > td,
// .table-hover .table-info:hover > th {
//   background-color: #abdde5;
// }

// .table-warning,
// .table-warning > th,
// .table-warning > td {
//   background-color: #ffeeba;
// }

// .table-hover .table-warning:hover {
//   background-color: #ffe8a1;
// }

// .table-hover .table-warning:hover > td,
// .table-hover .table-warning:hover > th {
//   background-color: #ffe8a1;
// }

// .table-danger,
// .table-danger > th,
// .table-danger > td {
//   background-color: #f5c6cb;
// }

// .table-hover .table-danger:hover {
//   background-color: #f1b0b7;
// }

// .table-hover .table-danger:hover > td,
// .table-hover .table-danger:hover > th {
//   background-color: #f1b0b7;
// }

// .table-light,
// .table-light > th,
// .table-light > td {
//   background-color: #fdfdfe;
// }

// .table-hover .table-light:hover {
//   background-color: #ececf6;
// }

// .table-hover .table-light:hover > td,
// .table-hover .table-light:hover > th {
//   background-color: #ececf6;
// }

// .table-dark,
// .table-dark > th,
// .table-dark > td {
//   background-color: #c6c8ca;
// }

// .table-hover .table-dark:hover {
//   background-color: #b9bbbe;
// }

// .table-hover .table-dark:hover > td,
// .table-hover .table-dark:hover > th {
//   background-color: #b9bbbe;
// }

// .table-active,
// .table-active > th,
// .table-active > td {
//   background-color: rgba(0, 0, 0, 0.075);
// }

// .table-hover .table-active:hover {
//   background-color: rgba(0, 0, 0, 0.075);
// }

// .table-hover .table-active:hover > td,
// .table-hover .table-active:hover > th {
//   background-color: rgba(0, 0, 0, 0.075);
// }

// .table .thead-dark th {
//   color: #fff;
//   background-color: #212529;
//   border-color: #32383e;
// }

// .table .thead-light th {
//   color: #495057;
//   background-color: #e9ecef;
//   border-color: #dee2e6;
// }

// .table-dark {
//   color: #fff;
//   background-color: #212529;
// }

// .table-dark th,
// .table-dark td,
// .table-dark thead th {
//   border-color: #32383e;
// }

// .table-dark.table-bordered {
//   border: 0;
// }

// .table-dark.table-striped tbody tr:nth-of-type(odd) {
//   background-color: rgba(255, 255, 255, 0.05);
// }

// .table-dark.table-hover tbody tr:hover {
//   background-color: rgba(255, 255, 255, 0.075);
// }

// @media (max-width: 575.98px) {
//   .table-responsive-sm {
//     display: block;
//     width: 100%;
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//     -ms-overflow-style: -ms-autohiding-scrollbar;
//   }
//   .table-responsive-sm > .table-bordered {
//     border: 0;
//   }
// }

// @media (max-width: 767.98px) {
//   .table-responsive-md {
//     display: block;
//     width: 100%;
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//     -ms-overflow-style: -ms-autohiding-scrollbar;
//   }
//   .table-responsive-md > .table-bordered {
//     border: 0;
//   }
// }

// @media (max-width: 991.98px) {
//   .table-responsive-lg {
//     display: block;
//     width: 100%;
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//     -ms-overflow-style: -ms-autohiding-scrollbar;
//   }
//   .table-responsive-lg > .table-bordered {
//     border: 0;
//   }
// }

// @media (max-width: 1199.98px) {
//   .table-responsive-xl {
//     display: block;
//     width: 100%;
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//     -ms-overflow-style: -ms-autohiding-scrollbar;
//   }
//   .table-responsive-xl > .table-bordered {
//     border: 0;
//   }
// }

// .table-responsive {
//   display: block;
//   width: 100%;
//   overflow-x: auto;
//   -webkit-overflow-scrolling: touch;
//   -ms-overflow-style: -ms-autohiding-scrollbar;
// }

// .table-responsive > .table-bordered {
//   border: 0;
// }

// .table {
//   border-collapse: collapse !important;
// }
// .table td,
// .table th {
//   background-color: #fff !important;
// }
// .table-bordered th,
// .table-bordered td {
//   border: 1px solid #dee2e6 !important;
// }
// .table-dark {
//   color: inherit;
// }
// .table-dark th,
// .table-dark td,
// .table-dark thead th,
// .table-dark tbody + tbody {
//   border-color: #dee2e6;
// }
// .table .thead-dark th {
//   color: inherit;
//   border-color: #dee2e6;
// }

// .row {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   margin-right: -15px;
//   margin-left: -15px;
// }

// .d-table {
//   display: table !important;
// }

// .d-table-row {
//   display: table-row !important;
// }

// .d-table-cell {
//   display: table-cell !important;
// }

// .d-flex {
//   display: -ms-flexbox !important;
//   display: flex !important;
// }

// .d-inline-flex {
//   display: -ms-inline-flexbox !important;
//   display: inline-flex !important;
// }

// table.dataTable {
//   clear: both;
//   margin-top: 6px !important;
//   margin-bottom: 6px !important;
//   max-width: none !important;
// }
// table.dataTable td,
// table.dataTable th {
//   -webkit-box-sizing: content-box;
//   -moz-box-sizing: content-box;
//   box-sizing: content-box;
// }
// table.dataTable.nowrap th,
// table.dataTable.nowrap td {
//   white-space: nowrap;
// }

// div.dataTables_wrapper div.dataTables_length label {
//   font-weight: normal;
//   text-align: left;
//   white-space: nowrap;
// }
// div.dataTables_wrapper div.dataTables_length select {
//   width: 75px;
//   display: inline-block;
// }
// div.dataTables_wrapper div.dataTables_filter {
//   text-align: right;
// }
// div.dataTables_wrapper div.dataTables_filter label {
//   font-weight: normal;
//   white-space: nowrap;
//   text-align: left;
// }
// div.dataTables_wrapper div.dataTables_filter input {
//   margin-left: 0.5em;
//   display: inline-block;
//   width: auto;
// }
// div.dataTables_wrapper div.dataTables_info {
//   padding-top: 8px;
//   white-space: nowrap;
// }
// div.dataTables_wrapper div.dataTables_paginate {
//   margin: 0;
//   white-space: nowrap;
//   text-align: right;
// }
// div.dataTables_wrapper div.dataTables_paginate ul.pagination {
//   margin: 2px 0;
//   white-space: nowrap;
// }

// table.dataTable thead > tr > th,
// table.dataTable thead > tr > td {
//   padding-right: 30px;
// }
// table.dataTable thead > tr > th:active,
// table.dataTable thead > tr > td:active {
//   outline: none;
// }
// table.dataTable thead .sorting,
// table.dataTable thead .sorting_asc,
// table.dataTable thead .sorting_desc,
// table.dataTable thead .sorting_asc_disabled,
// table.dataTable thead .sorting_desc_disabled {
//   cursor: pointer;
//   position: relative;
// }
// table.dataTable thead .sorting:after,
// table.dataTable thead .sorting_asc:after,
// table.dataTable thead .sorting_desc:after,
// table.dataTable thead .sorting_asc_disabled:after,
// table.dataTable thead .sorting_desc_disabled:after {
//   position: absolute;
//   bottom: 8px;
//   right: 8px;
//   display: block;
//   font-family: 'Glyphicons Halflings';
//   opacity: 0.5;
// }
// table.dataTable thead .sorting:after {
//   opacity: 0.2;
//   content: "\e150";
//   /* sort */
// }
// table.dataTable thead .sorting_asc:after {
//   content: "\e155";
//   /* sort-by-attributes */
// }
// table.dataTable thead .sorting_desc:after {
//   content: "\e156";
//   /* sort-by-attributes-alt */
// }
// table.dataTable thead .sorting_asc_disabled:after,
// table.dataTable thead .sorting_desc_disabled:after {
//   color: #eee;
// }

// div.dataTables_scrollHead table.dataTable {
//   margin-bottom: 0 !important;
// }

// div.dataTables_scrollBody table {
//   border-top: none;
//   margin-top: 0 !important;
//   margin-bottom: 0 !important;
// }
// div.dataTables_scrollBody table thead .sorting:after,
// div.dataTables_scrollBody table thead .sorting_asc:after,
// div.dataTables_scrollBody table thead .sorting_desc:after {
//   display: none;
// }
// div.dataTables_scrollBody table tbody tr:first-child th,
// div.dataTables_scrollBody table tbody tr:first-child td {
//   border-top: none;
// }

// div.dataTables_scrollFoot table {
//   margin-top: 0 !important;
//   border-top: none;
// }

// @media screen and (max-width: 767px) {
//   div.dataTables_wrapper div.dataTables_length,
//   div.dataTables_wrapper div.dataTables_filter,
//   div.dataTables_wrapper div.dataTables_info,
//   div.dataTables_wrapper div.dataTables_paginate {
//     text-align: center;
//   }
// }
// table.dataTable.table-condensed > thead > tr > th {
//   padding-right: 20px;
// }
// table.dataTable.table-condensed .sorting:after,
// table.dataTable.table-condensed .sorting_asc:after,
// table.dataTable.table-condensed .sorting_desc:after {
//   top: 6px;
//   right: 6px;
// }

// table.table-bordered.dataTable {
//   border-collapse: separate !important;
// }
// table.table-bordered.dataTable th,
// table.table-bordered.dataTable td {
//   border-left-width: 0;
// }
// table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child,
// table.table-bordered.dataTable td:last-child,
// table.table-bordered.dataTable td:last-child {
//   border-right-width: 0;
// }
// table.table-bordered.dataTable tbody th,
// table.table-bordered.dataTable tbody td {
//   border-bottom-width: 0;
// }

// div.dataTables_scrollHead table.table-bordered {
//   border-bottom-width: 0;
// }

// .float-right {
//   float: right !important;
// }

// .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
// .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
// .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
// .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
// .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
// .col-xl-auto {
//   position: relative;
//   width: 100%;
//   min-height: 1px;
//   padding-right: 15px;
//   padding-left: 15px;
// }

// .col {
//   -ms-flex-preferred-size: 0;
//   flex-basis: 0;
//   -ms-flex-positive: 1;
//   flex-grow: 1;
//   max-width: 100%;
// }

// .col-auto {
//   -ms-flex: 0 0 auto;
//   flex: 0 0 auto;
//   width: auto;
//   max-width: none;
// }

// .col-1 {
//   -ms-flex: 0 0 8.333333%;
//   flex: 0 0 8.333333%;
//   max-width: 8.333333%;
// }

// .col-2 {
//   -ms-flex: 0 0 16.666667%;
//   flex: 0 0 16.666667%;
//   max-width: 16.666667%;
// }

// .col-3 {
//   -ms-flex: 0 0 25%;
//   flex: 0 0 25%;
//   max-width: 25%;
// }

// .col-4 {
//   -ms-flex: 0 0 33.333333%;
//   flex: 0 0 33.333333%;
//   max-width: 33.333333%;
// }

// .col-5 {
//   -ms-flex: 0 0 41.666667%;
//   flex: 0 0 41.666667%;
//   max-width: 41.666667%;
// }

// .col-6 {
//   -ms-flex: 0 0 50%;
//   flex: 0 0 50%;
//   max-width: 50%;
// }

// .col-7 {
//   -ms-flex: 0 0 58.333333%;
//   flex: 0 0 58.333333%;
//   max-width: 58.333333%;
// }

// .col-8 {
//   -ms-flex: 0 0 66.666667%;
//   flex: 0 0 66.666667%;
//   max-width: 66.666667%;
// }

// .col-9 {
//   -ms-flex: 0 0 75%;
//   flex: 0 0 75%;
//   max-width: 75%;
// }

// .col-10 {
//   -ms-flex: 0 0 83.333333%;
//   flex: 0 0 83.333333%;
//   max-width: 83.333333%;
// }

// .col-11 {
//   -ms-flex: 0 0 91.666667%;
//   flex: 0 0 91.666667%;
//   max-width: 91.666667%;
// }

// .col-12 {
//   -ms-flex: 0 0 100%;
//   flex: 0 0 100%;
//   max-width: 100%;
// }

// .order-first {
//   -ms-flex-order: -1;
//   order: -1;
// }

// .order-last {
//   -ms-flex-order: 13;
//   order: 13;
// }

// .order-0 {
//   -ms-flex-order: 0;
//   order: 0;
// }

// .order-1 {
//   -ms-flex-order: 1;
//   order: 1;
// }

// .order-2 {
//   -ms-flex-order: 2;
//   order: 2;
// }

// .order-3 {
//   -ms-flex-order: 3;
//   order: 3;
// }

// .order-4 {
//   -ms-flex-order: 4;
//   order: 4;
// }

// .order-5 {
//   -ms-flex-order: 5;
//   order: 5;
// }

// .order-6 {
//   -ms-flex-order: 6;
//   order: 6;
// }

// .order-7 {
//   -ms-flex-order: 7;
//   order: 7;
// }

// .order-8 {
//   -ms-flex-order: 8;
//   order: 8;
// }

// .order-9 {
//   -ms-flex-order: 9;
//   order: 9;
// }

// .order-10 {
//   -ms-flex-order: 10;
//   order: 10;
// }

// .order-11 {
//   -ms-flex-order: 11;
//   order: 11;
// }

// .order-12 {
//   -ms-flex-order: 12;
//   order: 12;
// }

// .offset-1 {
//   margin-left: 8.333333%;
// }

// .offset-2 {
//   margin-left: 16.666667%;
// }

// .offset-3 {
//   margin-left: 25%;
// }

// .offset-4 {
//   margin-left: 33.333333%;
// }

// .offset-5 {
//   margin-left: 41.666667%;
// }

// .offset-6 {
//   margin-left: 50%;
// }

// .offset-7 {
//   margin-left: 58.333333%;
// }

// .offset-8 {
//   margin-left: 66.666667%;
// }

// .offset-9 {
//   margin-left: 75%;
// }

// .offset-10 {
//   margin-left: 83.333333%;
// }

// .offset-11 {
//   margin-left: 91.666667%;
// }

// @media (min-width: 576px) {
//   .col-sm {
//     -ms-flex-preferred-size: 0;
//     flex-basis: 0;
//     -ms-flex-positive: 1;
//     flex-grow: 1;
//     max-width: 100%;
//   }
//   .col-sm-auto {
//     -ms-flex: 0 0 auto;
//     flex: 0 0 auto;
//     width: auto;
//     max-width: none;
//   }
//   .col-sm-1 {
//     -ms-flex: 0 0 8.333333%;
//     flex: 0 0 8.333333%;
//     max-width: 8.333333%;
//   }
//   .col-sm-2 {
//     -ms-flex: 0 0 16.666667%;
//     flex: 0 0 16.666667%;
//     max-width: 16.666667%;
//   }
//   .col-sm-3 {
//     -ms-flex: 0 0 25%;
//     flex: 0 0 25%;
//     max-width: 25%;
//   }
//   .col-sm-4 {
//     -ms-flex: 0 0 33.333333%;
//     flex: 0 0 33.333333%;
//     max-width: 33.333333%;
//   }
//   .col-sm-5 {
//     -ms-flex: 0 0 41.666667%;
//     flex: 0 0 41.666667%;
//     max-width: 41.666667%;
//   }
//   .col-sm-6 {
//     -ms-flex: 0 0 50%;
//     flex: 0 0 50%;
//     max-width: 50%;
//   }
//   .col-sm-7 {
//     -ms-flex: 0 0 58.333333%;
//     flex: 0 0 58.333333%;
//     max-width: 58.333333%;
//   }
//   .col-sm-8 {
//     -ms-flex: 0 0 66.666667%;
//     flex: 0 0 66.666667%;
//     max-width: 66.666667%;
//   }
//   .col-sm-9 {
//     -ms-flex: 0 0 75%;
//     flex: 0 0 75%;
//     max-width: 75%;
//   }
//   .col-sm-10 {
//     -ms-flex: 0 0 83.333333%;
//     flex: 0 0 83.333333%;
//     max-width: 83.333333%;
//   }
//   .col-sm-11 {
//     -ms-flex: 0 0 91.666667%;
//     flex: 0 0 91.666667%;
//     max-width: 91.666667%;
//   }
//   .col-sm-12 {
//     -ms-flex: 0 0 100%;
//     flex: 0 0 100%;
//     max-width: 100%;
//   }
//   .order-sm-first {
//     -ms-flex-order: -1;
//     order: -1;
//   }
//   .order-sm-last {
//     -ms-flex-order: 13;
//     order: 13;
//   }
//   .order-sm-0 {
//     -ms-flex-order: 0;
//     order: 0;
//   }
//   .order-sm-1 {
//     -ms-flex-order: 1;
//     order: 1;
//   }
//   .order-sm-2 {
//     -ms-flex-order: 2;
//     order: 2;
//   }
//   .order-sm-3 {
//     -ms-flex-order: 3;
//     order: 3;
//   }
//   .order-sm-4 {
//     -ms-flex-order: 4;
//     order: 4;
//   }
//   .order-sm-5 {
//     -ms-flex-order: 5;
//     order: 5;
//   }
//   .order-sm-6 {
//     -ms-flex-order: 6;
//     order: 6;
//   }
//   .order-sm-7 {
//     -ms-flex-order: 7;
//     order: 7;
//   }
//   .order-sm-8 {
//     -ms-flex-order: 8;
//     order: 8;
//   }
//   .order-sm-9 {
//     -ms-flex-order: 9;
//     order: 9;
//   }
//   .order-sm-10 {
//     -ms-flex-order: 10;
//     order: 10;
//   }
//   .order-sm-11 {
//     -ms-flex-order: 11;
//     order: 11;
//   }
//   .order-sm-12 {
//     -ms-flex-order: 12;
//     order: 12;
//   }
//   .offset-sm-0 {
//     margin-left: 0;
//   }
//   .offset-sm-1 {
//     margin-left: 8.333333%;
//   }
//   .offset-sm-2 {
//     margin-left: 16.666667%;
//   }
//   .offset-sm-3 {
//     margin-left: 25%;
//   }
//   .offset-sm-4 {
//     margin-left: 33.333333%;
//   }
//   .offset-sm-5 {
//     margin-left: 41.666667%;
//   }
//   .offset-sm-6 {
//     margin-left: 50%;
//   }
//   .offset-sm-7 {
//     margin-left: 58.333333%;
//   }
//   .offset-sm-8 {
//     margin-left: 66.666667%;
//   }
//   .offset-sm-9 {
//     margin-left: 75%;
//   }
//   .offset-sm-10 {
//     margin-left: 83.333333%;
//   }
//   .offset-sm-11 {
//     margin-left: 91.666667%;
//   }
// }

// table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
//   right: 1em;
//   content: "\2192";
// }




