@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

* {
  font-family: "Open Sans";
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: black;
  background-color: #F1F4F6;
  margin: 0;
  padding: 0;
}

body ::-webkit-scrollbar {
  width: 0.25rem;
}

body ::-webkit-scrollbar-track {
  background: black;
}

body ::-webkit-scrollbar-thumb {
  background: #6649b8;
}

hr {
  border: 0;
  border-top: 1px solid #30e992;
  margin-left: 1rem;
  padding-right: 1rem;
}

i {
  padding-right: 0.5rem;
}

h3 {
  text-align: left;
  padding-left: 1rem;
}

.header {
  height: 3rem;
  display: flex;
  align-items: center;
  background: linear-gradient(#444444, #333333);
  color: #bbbbbb;
}

.headerContent {
  margin-left: 10px;
}

.page {
  display: flex;
  height: calc( 100vh);
  /* calculate the height. Header is 30px */
}

.sideBar {
  position: fixed;
  height: 100vh;
  width: 15rem;
  background: #23232e;
  color: white;
  z-index: 1;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 700px) {
  .sideBar {
    display: none;
  }
}

.nav-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 15px 0px;
}

.nav-item {
  padding-top: 2rem;
}

.nav-item a:hover {
  cursor: pointer;
  border-radius: 5rem;
  background: linear-gradient(45deg, #30e992, #4cccd8);
  box-shadow: 0 10px 35px rgba(48, 233, 146, 0.6);
}

.nav-item a {
  padding: 1rem 3rem;
  color: white;
  text-decoration: none;
}

.content {
  background: whitesmoke;
  flex: 1 0 auto;
  /* enable grow, disable shrink */
}

@media only screen and (min-width: 700px) {
  .content {
    padding-left: 15rem;
  }
}

.containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 6%;
}

.cards {
  color: #172B4D;
  display: flex;
  background-color: #fff;
  min-width: 340px;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
  text-align: center;
}

@media only screen and (min-width: 700px) {
  .cards {
    min-width: 500px;
  }
}

.cards .cards-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #dddddd;
}

.cards .cards-content {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.cards .cards-title {
  color: #32325d;
  font-size: 1.8em;
  line-height: 1.5em;
  font-weight: 900;
  margin-top: 0;
}

.cards .cards-body {
  font-size: 1.1em;
  line-height: 1.6em;
  color: #6b7c93;
  margin-bottom: 2.1em;
}

.align-left {
  padding-left: 1.5rem;
}

.align-right {
  padding-right: 2rem;
}

.btn {
  display: block;
  border: none;
  outline: none;
  text-align: center;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 6px;
  border: none;
  margin: 10px;
  padding: 1em 3em;
  background-size: 200% auto;
  color: white;
  transition: 0.5s;
}

.btn-red {
  box-shadow: 0 6px 25px rgba(254, 52, 100, 0.4);
  background: linear-gradient(45deg, #FE3464, #F85E56);
}

.btn-red:hover {
  box-shadow: 0 10px 35px rgba(254, 52, 100, 0.6);
  cursor: pointer;
}

.btn-red:active {
  box-shadow: 0 10px 30px rgba(254, 52, 100, 0.4);
  background: linear-gradient(45deg, #FE3464, #FE3464);
}

.btn-green {
  box-shadow: 0 6px 25px rgba(48, 233, 146, 0.4);
  background: linear-gradient(45deg, #30e992, #4cccd8);
}

.btn-green:hover {
  box-shadow: 0 10px 35px rgba(48, 233, 146, 0.6);
  cursor: pointer;
}

.btn-green:active {
  box-shadow: 0 10px 30px rgba(48, 233, 146, 0.4);
  background: linear-gradient(45deg, #30e992, #30e992);
}

.full-input {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.rows {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 700px) {
  .rows {
    flex-direction: column;
    align-items: center;
  }
}

.removePadding {
  padding: 0px;
}

.cols {
  display: flex;
  margin: 5px;
  flex: 1;
  flex-direction: column;
}

@media only screen and (max-width: 700px) {
  .cols {
    padding-right: 0;
  }
}

.cols3 {
  width: 10rem;
}

.cols4 {
  width: 15rem;
}

.cols5 {
  width: 20rem;
}

.input-label {
  text-align: left;
  font-weight: 600;
  padding-bottom: 5px;
}

.label-error {
  text-align: left;
  color: #FE3464;
  font-size: 0.9rem;
  padding-bottom: 2px;
}

.label-success {
  text-align: left;
  font-weight: 600;
  color: green;
  font-size: 0.9rem;
  padding-bottom: 2px;
}

.form-control-sm {
  border: 1px solid #dddddd;
  border-radius: 6px;
  color: #76797f;
  font-weight: 600;
  padding: 0.5rem;
}

.form-control-sm::-moz-placeholder {
  color: #76797f;
  font-weight: 600;
}

.form-control-sm:-ms-input-placeholder {
  color: #76797f;
  font-weight: 600;
}

.form-control-sm::-ms-input-placeholder {
  color: #76797f;
  font-weight: 600;
}

.form-control-sm::placeholder {
  color: #76797f;
  font-weight: 600;
}

.form-control-sm:focus {
  border: none;
  outline: 0;
  border: 1px solid #1cea64;
  box-shadow: 0 8px 10px rgba(0, 188, 122, 0.11), 0 1px 3px rgba(72, 214, 145, 0.08);
}

.input-text {
  border: 1px solid #dddddd;
  border-radius: 6px;
  color: #76797f;
  font-weight: 600;
  padding: 0.7rem;
}

.input-text::-moz-placeholder {
  color: #76797f;
  font-weight: 600;
}

.input-text:-ms-input-placeholder {
  color: #76797f;
  font-weight: 600;
}

.input-text::-ms-input-placeholder {
  color: #76797f;
  font-weight: 600;
}

.input-text::placeholder {
  color: #76797f;
  font-weight: 600;
}

.input-text:focus {
  border: none;
  outline: 0;
  border: 1px solid #1cea64;
  box-shadow: 0 8px 10px rgba(0, 188, 122, 0.11), 0 1px 3px rgba(72, 214, 145, 0.08);
}

.is-invalid {
  border: 1px solid #FE3464;
}

.is-invalid:focus,
.is-invalid:active {
  border: none;
  outline: 0;
  border: 1px solid #FE3464;
  box-shadow: 0 8px 10px rgba(112, 0, 26, 0.11), 0 1px 3px rgba(109, 5, 0, 0.08);
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.input-select {
  font-weight: 600;
  min-width: 180px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  color: #76797f;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 0.7rem;
}

.input-select:focus {
  outline: 0;
  border: 1px solid #1cea64;
  box-shadow: 0 8px 10px rgba(0, 188, 122, 0.11), 0 1px 3px rgba(72, 214, 145, 0.08);
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  border: 1px solid #2dce89;
  border-radius: 4px;
  padding: 8px 15px;
  transition: all 0.2s ease-in;
}

.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #2dce89 transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}

.select-styled:hover {
  background-color: #f2f2f2;
}

.select-styled:active,
.select-styled.active {
  background-color: #f2f2f2;
}

.select-styled:active:after,
.select-styled.active:after {
  top: 9px;
  border-color: transparent transparent black transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.select-options li {
  font-weight: 700;
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  transition: all 0.15s ease-in;
}

.select-options li:hover {
  color: #2dce89;
  background: #f2f2f2;
}

.select-options li[rel=hide] {
  display: none;
}

.cards {
  color: #172B4D;
  display: flex;
  background-color: #fff;
  min-width: 340px;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
  text-align: center;
}

@media only screen and (min-width: 700px) {
  .cards {
    min-width: 800px;
  }
}

.cards .cards-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #dddddd;
}

.cards .cards-content {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.cards-sm {
  min-width: 500px;
}

.cards-lg {
  min-width: 60vw;
}

.modals {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  align-self: start;
  flex-direction: column;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modals .modals-container {
  width: 90%;
  border-radius: 6px;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  margin: auto;
  border: 1px solid #888;
}

@media only screen and (min-width: 700px) {
  .modals .modals-container {
    width: 50%;
  }
}

.modals .modals-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #dddddd;
}

.modals .modals-content {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Modal Content */

/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 2rem;
  padding: 1rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.link-wrapper {
  display: flex;
}

.fa {
  flex: 1;
}

.link-name {
  flex: 1;
}

